### Substitute USERNAME to correct the path
### Substitute the OCIDs, fingerprints and keys with the correct ones for your environment
### File for Linux and OS X Users in shell environment
### Authentication details
export TF_VAR_tenancy_ocid=ocid1.tenancy.oc1..aaaaaaaa5txfxrudc5ezitovlpjznw6b3l6sqvkzddepsfu4es2i4x2xyeia
export TF_VAR_user_ocid=ocid1.user.oc1..aaaaaaaagf2r3i3id6lasstuhcuaydr7zg6g2ww4swujpiqrinj4ukrywaoq
export TF_VAR_fingerprint=00:16:9a:4b:c6:99:bc:10:ca:25:cb:0e:2f:5b:bd:87
export TF_VAR_private_key_path=/var/lib/jenkins/.ocijs/oci_api_key_js.pem

### Compartment
export TF_VAR_compartment_ocid=ocid1.compartment.oc1..aaaaaaaaseo4aolyjd5ndfifkexmsu3bfweiko2to74lbru6x4djkmzz2d5q

### Public/private keys used on the instances
export TF_VAR_ssh_public_key=$(cat /var/lib/jenkins/.ocijs/id_rsa.pub)
export TF_VAR_ssh_private_key=$(cat /var/lib/jenkins/.ocijs/id_rsa)

### Region
export TF_VAR_region=us-ashburn-1
